<body class="bg-dark " style="height: 100vh">
  <h1 class="text-center text-white">Todays Todos</h1>
  <div class="container bg-dark h-100">
    <div class="row justify-content-center bg-dark">
      <div class="col col-lg-3">
        <div class="col-auto d-inline-flex align-self-center">
          <input type="text"  class="form-control align-self-auto" placeholder="Add Todo..." style="text-align: center"  aria-label="Add Todo..." aria-describedby="button-addon2" [(ngModel)]="newTodo">
          <button class="btn btn-dark link-success" type="button" id="button-addon2" style="" (click)="saveTodo()">+</button>
        </div>
        <table class="table table-striped bg-dark text-light">
          <tbody>
            <tr *ngFor="let todo of todos;let i = index;">
              <th class="bg-dark" scope="row" style="color: whitesmoke">{{i+1}}</th>
              <td class="{{(!todo.isCompleted)?'done':''}} bg-dark" style="color: whitesmoke" (click)="done(i)">{{todo.name}}</td>
              <button class="btn btn-dark link-danger border-4 bg-dark"  style="color: red; font-weight: bold ;" (click)="remove(i)">x</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
